{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "globals": {
    "React": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],

  "extends": "airbnb",

  "rules": {
    "semi": ["error", "never"]
  }
}
