{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "globals": {
    "React": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],

  "extends": "airbnb",

  "rules": {
    "semi": ["error", "never"],
    "padded-blocks": 0,
    "callback-return": 2,
    "consistent-return": 0,
    "no-console": ["error", { allow: ["warn", "error"] }]
  }
}
